<!-- Display your Pirate here -->
<h2>Pirate's Name: <%= @pirate.name %></h2>
<h3>Pirate's Height: <%= @pirate.height %></h3>
<h3>Pirate's Weight: <%= @pirate.weight %> Pounds</h3>

<!-- Display your first ship here -->
<h2>Pirate's First Ship: <%= @ship_one.name %></h2>
<h3>Ship Type: <%= @ship_one.type %></h3>
<h3>Ship's Booty: <%= @ship_one.booty %></h3>

<!-- Display your second ship here -->
<h2>Pirate's Second Ship: <%= @ship_two.name %></h2>
<h3>Ship Type: <%= @ship_two.type %></h3>
<h3>Ship's Booty: <%= @ship_two.booty %></h3>